#list {
  height: 100vh;
  height: calc(100vh - 40px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 12px;
  padding: 12px;
  box-sizing: border-box;
  justify-content: center;
  align-content: start;
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.item {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.247);
  overflow: hidden;
  font: 25px Helvetica;;
}
.item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.247);
}

.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  flex-shrink: 0;
}

.item span {
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input:focus {
  outline: none;
  border-color: #007BFF;
  border-width: 1px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}